{% set analytics = config.google_analytics %}

 <script async src="https://www.googletagmanager.com/gtag/js?id={{ analytics[0] }}"></script>
    <script>
        alert("test")
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', '{{ analytics[0] }}');

  document.addEventListener("DOMContentLoaded", function() {
    if (document.forms.search) {
      var query = document.forms.search.query
      query.addEventListener("blur", function() {
        if (this.value) {
         window.dataLayer = window.dataLayer || [];
         window.dataLayer.push({
          'event' : 'search',
          'searchTerm' : this.value
         });
        }
      })
    }
  })




    </script>
