<script >
    document.body.setAttribute("data-md-color-scheme" ,"slate")


    function __prefix(e){
        return new URL("/",window.location).pathname+"."+e
    }

    function __get(e,t=localStorage){
        return JSON.parse(t.getItem(__prefix(e)))
    }

    console.log(__prefix("__palette"))

    let palette = __get("__palette")
    console.log(palette);
    console.log("OK: "+(palette !== null && typeof palette.color === "object"));
    if (palette !== null && typeof palette.color === "object"){
        for (let key in palette.color){
            console.log(key+" | "+palette.color[key])
            document.body.setAttribute("data-md-color-" + key, palette.color[key])
        }
    }


</script>
